@model List<ResultOrderDto>

@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-10" style="margin-top:20px;">
                <section class="panel">
                    <header class="panel-heading">
                        Sipariş Listesi
                    </header>

                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th>Sipariş No</th>
                                <th>Müşteri Adı</th>
                                <th>Ürün Adı</th>
                                <th>Sipariş Adedi</th>
                                <th>Sipariş Tarihi</th>
                                <th> İşlemler</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@item.OrderDate.ToString("ddMMyyyy")@item.OrderId</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Piece</td>
                                    <td>@item.OrderDate.ToShortDateString()</td>
                                    <td>
                                        <a href="/Order/UpdateOrder/@item.OrderId" class="btn btn-warning">Güncelle</a>
                                        <a href="/Order/DeleteOrder/@item.OrderId" class="btn btn-danger">Sil</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
                <a href="/Order/CreateOrder/" class="btn btn-primary">Sipariş Ekle</a> 
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
